<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Proteger archivos sensibles si el Document Root no está en /public
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<Files composer.json>
    Order allow,deny
    Deny from all
</Files>

# Bloquear acceso a /storage
<IfModule mod_rewrite.c>
    RewriteRule ^storage/ - [F,L]
</IfModule>

# Agregar cabeceras de seguridad HTTP
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
